.slidingPage {
  transition: all ease 1s;
}

.offscreen, .offscreenleft {
  transform: translateX(-100%);
}

.offscreenright {
  transform: translateX(100%);
}

.onscreen {
  transform: translateX(0);
}