/* For use with react-transition-group */
.page-transition-enter {
  transform: translateX(-100%);
}
.page-transition-enter-active {
  transform: translateX(0);
  transition: transform 1s;
}
.page-transition-exit {
  transform: translateX(0);
}
.page-transition-exit-active {
  transform: translateX(100%);
  transition: transform 1s;
}